/* 
   #222831
   #DFD0B8
   #948979
   #2E333D
*/

@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    color: #dfd0b8;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6;
    padding: 2rem 0;
    scroll-behavior: smooth;
}

main {
    text-align: center;
    min-height: 100vh;
    margin-left: 12%;
}

nav {
    border-bottom: 2px solid #dfd0b8;
    height: 100%;
    min-width: 12%;
    max-width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px 0 1rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    gap: 50px;
}

nav li {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 1.3em;
    transition: transform 0.3s ease-in-out;
}

nav li:hover {
    transform: translateX(10px);
    background-color: rgba(17, 17, 17, 0.55);
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 2px solid #dfd0b8;
    text-align: center;
    font-size: 0.875rem;
    margin-left: 160px;
}

footer p {
    margin-top: 0.5rem;
}

a {
    color: #948979;
    box-shadow: inset 0 0 0 0 #dfd0b8;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

p {

    overflow-y: hidden;
    min-height: 100%;
}


input {
    border: 2px solid transparent;
    width: 30em;
    height: 3em;
    padding: 10px;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin-left: 10px;
}

input:hover,
input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0 0 0 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

ul {
    list-style: none;
}

h1 {

    font-size: 3em;
}

section h2 {

    color: #948979;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


section {

    background-color: #2e333d;
    min-width: 10%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
    text-align: center;
}

select {

    background-color: #F3F3F3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

select:hover {
    background-color: #2e333d;
    color: #F3F3F3;
}

aside {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
}

button {
    display: block;
    cursor: pointer;
}

/*   https://codepen.io/dcastanos/pen/BapxGM */
audio {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
}

hr {
    width: 80%;
    margin-right: 0;
    margin-left: auto;
}

.arabic {

    font-family: "Amiri Quran", sans-serif;
    font-size: 1.3em;
    direction: rtl;
    text-align: right;
    max-width: 80%;
    margin-left: auto;
    margin-right: 0;


}

.selectSurah {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    margin: 30px 0 30px 0;
    border-radius: 10px;
}

.selectSurah > * {

    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: none;
    color: #2e333d;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.selectSurah > *:hover {
    transform: translateY(-3px);

    background-color: #2e333d;
    color: #F3F3F3;
}


.fold {
    background-color: #2e333d;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    min-width: 0;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.surah {
    height: 0px;
    transition: height 0.3s ease-in-out;
}


.surahFields {

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

