/* 
   #222831
   #DFD0B8
   #948979
   #2E333D
*/

@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #222831;
	color: #dfd0b8;
	max-width: 90%;
	margin: 0 auto;
	line-height: 1.6;
	padding: 2rem 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
	margin-left: 160px;
}

a {
	color: #948979;
	box-shadow: inset 0 0 0 0 #dfd0b8;
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	text-decoration: none;
}

a:hover {
	box-shadow: inset 100px 0 0 0 #dfd0b8;
	color: rgb(74, 72, 72);
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

nav {
	padding: 1rem 0;
	border-bottom: 2px solid #dfd0b8;
	height: 100%; 
	width: 160px; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #111; 
	overflow-x: hidden; 
	padding-top: 20px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 50px;
}

nav li {
	margin-left: 1rem;
	text-transform: uppercase;
	font-size: 1.2em;
}

header {
	margin: 2rem 0 0 160px;
	text-align: center;
	display: flex;
}

header h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

header p {
	font-size: 1.125rem;
	color: #dfd0b8;
}

section {
	background-color: #2e333d;
	padding: 1rem;
	margin-bottom: 2rem;
	border-radius: 8px;
}

section h2 {
	color: #948979;
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

#ayah-of-the-day {
	text-align: center;
	padding: 1rem;
}

#arabic {
	font-family: "Amiri Quran", serif;
	font-size: 2rem;
	direction: rtl;
	margin: 1rem 0;
}

#features ul {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	gap: 1rem;
}

#features li {
	background-color: #222831;
	padding: 1rem;
	border: 1px solid #948979;
	border-radius: 8px;
	text-align: center;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	border-top: 2px solid #dfd0b8;
	text-align: center;
	font-size: 0.875rem;
	margin-left: 160px;
}

footer p {
	margin-top: 0.5rem;
}

datalist {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	padding: 10px;

	border: 1px solid white;
	margin: 30px 0 30px 0;
	border-radius: 10px;
}

datalist > * {

}


