/*
kleuren palette voor het project
   #222831
   #DFD0B8
   #948979
   #2E333D
*/

@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;
}

html, body {
    background-color: #f5f2f2;
    color: #46433e;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6;
    padding: 2rem 0;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease-in-out;
}

html.dark-theme, body.dark-theme {
    background-color: black;
    color: white;
}

.arabic {
    color: #F3F3F3;

    font-family: "Amiri Quran", sans-serif;
    font-size: 1.3em;
    direction: rtl;
    text-align: right;
    max-width: 80%;
    margin-left: auto;
    margin-right: 0;
}

.arabic.dark-theme {
    color: #F3F3F3;
}

section {
    background-color: #2e333d;
    color: #F3F3F3;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
    min-width: 100%;
}

main {
    text-align: center;
    min-height: 100vh;
    margin-left: 12%;
}

nav {
    display: flex;
    margin-top: auto;
    margin-bottom: 50%;
    border-radius: 20px;
    height: 90%;
    min-width: fit-content;
    max-width: 12%;
    position: fixed;
    z-index: 1;
    left: 0;
    margin-left: 1rem;

}

nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    padding: 12px;
}

nav li {
    text-transform: uppercase;
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;
}

nav li:hover {
    transform: translateX(10px);
}

.themeButton {
    display: flex;
    justify-self: flex-end;
    font-size: 4em;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    margin-top: auto;
    margin-bottom: 0;

    transition: color 0.3s ease-in;
}

.themeButton.dark-theme {
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 2px solid #dfd0b8;
    text-align: center;
    font-size: 0.875rem;
    margin-left: 160px;
}

footer p {
    margin-top: 0.5rem;
}

a {
    color: #948979;
    box-shadow: inset 0 0 0 0 #dfd0b8;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

p {
    overflow-y: hidden;
}


input {
    border: 2px solid transparent;
    width: 30em;
    height: 3em;
    padding: 10px;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: border 0.5s, box-shadow 0.3s, background-color 0.3s;
    margin-left: 10px;
}

input:hover,
input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0 0 0 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #948979;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}


select {
    background-color: #F3F3F3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

select:hover {
    background-color: #2e333d;
    color: #F3F3F3;
}

aside {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
}

button {
    display: block;
    cursor: pointer;
}

/*   https://codepen.io/dcastanos/pen/BapxGM */
audio {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
}

h2 {
    margin-bottom: 1em;
}

hr {
    width: 80%;
    margin-right: 0;
    margin-left: auto;
}

.selectSurah {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    margin: 30px 0 30px 0;
    border-radius: 10px;
}

.selectSurah > * {
    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: none;
    color: #2e333d;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in, color 0.2s ease-in-out;
}

.selectSurah > *:hover {
    transform: translateY(-3px);
    color: #F3F3F3;
    background-color: #2e333d;
}


.fold {
    background-color: #2e333d;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    min-width: 0;
    text-align: center;
    text-decoration: none;
    width: 40%;
    transition: background-color 0.3s ease-in-out;
}

.fold:hover {
    background-color: #F3F3F3;
    color: #2e333d;
    border: 1px #2e333d;
}

.surah {
    height: 0;
    transition: height 0.3s ease-in-out;
}

.surahFields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
}

#searchButton {
    min-width: 10%;
    border-radius: 10px;
    border: none;
}

#searchResult {
    text-align: left;
}

.chapterTopContainer {
    display: flex;
    justify-content: space-between;

}

.setFavorite {
    font-size: 4em;
    background: none;
    border: none;
    cursor: pointer;
    color: green;
    margin-top: auto;
    margin-bottom: 0;
}


.expand {
    display: none;
}

.alAraf {

    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 3em;
}

.alArafTitle {
    text-align: right;
    font-size: 0.4em;
}

@media screen and (max-width: 720px) {

    html, body {
        font-size: smaller;
    }

    main {
        width: 100%;
        margin: 0;
    }

    nav {
        max-width: 20%;
    }

    h1 {
        font-size: 20px;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
    }

    .expand {
        display: inline-block;
        cursor: pointer;

    }

    .expand > div {
        color: white;
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
}

